<div class="day-component rounded-lg w-full text-center">
    <div class="grid grid-cols-10 gap-2 cursor-pointer" (click)="expanded = !expanded">
        <div class="col-span-5 row-span-2">
            <div class="flex justify-between items-center w-full h-full">
                <div class="flex flex-col items-start">
                    <span class="text-xl">{{ day().datetime | day }}</span>
                    <span class="font-normal">{{ day().datetime | date:'MMMM d' }}</span>
                </div>
                <div class="big-icon">{{ day().icon | weatherIcon }}</div>
            </div>
        </div>
        <div class="col-span-2 row-span-2 flex justify-end items-center text-xl">
            {{ day().tempmax | number: '1.0-0' }}° / {{ day().tempmin | number: '1.0-0' }}°
        </div>
        <div class="col-span-2 flex justify-end items-center gap-1">
            <span class="icon">💧</span> {{ day().humidity | number: '1.0-0' }}
        </div>
        <div class="flex justify-end icon items-center">{{ expanded ? '-' : '+' }}</div>

        <div class="col-span-2 flex justify-end items-center gap-1">
            <span class="icon">🌪️</span> {{ day().windspeed | number: '1.0-0' }}
        </div>
    </div>
    @if (expanded) {
    <div>
        <div class="border-b-2 mb-4"></div>
        <div class="grid grid-cols-5 gap-2">
            @for (hour of day().hours; track $index) {
            @if ($index !== 0) {
            <div class="col-span-5 border-b table-line-break"></div>
            }
            <div class="flex items-center justify-center">{{ hour.datetime | hourTime }}</div>
            <div class="flex items-center justify-center">{{ hour.temp | number: '1.0-0' }}°</div>
            <div class="text-3xl flex items-center justify-center">{{ hour.icon | weatherIcon }}</div>
            <div class="flex items-center justify-center gap-1">
                <span class="icon">💧</span> {{ hour.humidity | number: '1.0-0' }}
            </div>
            <div class="flex items-center justify-center gap-1">
                <span class="icon">🌪️</span> {{ hour.windspeed | number: '1.0-0' }}
            </div>
            }
        </div>
    </div>
    }
</div>